// Place all the styles related to the Daybooks controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'PTMonoRegular';
  src: url('fonts/PTM55FT-webfont.eot');
  src: url('fonts/PTM55FT-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PTM55FT-webfont.woff') format('woff'),
  url('fonts/PTM55FT-webfont.ttf') format('truetype'),
  url('fonts/PTM55FT-webfont.svg#PTMonoRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('fonts/PTN57F-webfont.eot');
    src: url('fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN57F-webfont.woff') format('woff'),
         url('fonts/PTN57F-webfont.ttf') format('truetype'),
         url('fonts/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('fonts/PTC75F-webfont.eot');
    src: url('fonts/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTC75F-webfont.woff') format('woff'),
         url('fonts/PTC75F-webfont.ttf') format('truetype'),
         url('fonts/PTC75F-webfont.svg#PTSansCaptionBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('fonts/PTC55F-webfont.eot');
    src: url('fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTC55F-webfont.woff') format('woff'),
         url('fonts/PTC55F-webfont.ttf') format('truetype'),
         url('fonts/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('fonts/PTS76F-webfont.eot');
    src: url('fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS76F-webfont.woff') format('woff'),
         url('fonts/PTS76F-webfont.ttf') format('truetype'),
         url('fonts/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('fonts/PTS75F-webfont.eot');
    src: url('fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS75F-webfont.woff') format('woff'),
         url('fonts/PTS75F-webfont.ttf') format('truetype'),
         url('fonts/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('fonts/PTS56F-webfont.eot');
    src: url('fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS56F-webfont.woff') format('woff'),
         url('fonts/PTS56F-webfont.ttf') format('truetype'),
         url('fonts/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('fonts/PTS55F-webfont.eot');
    src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS55F-webfont.woff') format('woff'),
         url('fonts/PTS55F-webfont.ttf') format('truetype'),
         url('fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('fonts/PTN77F-webfont.eot');
    src: url('fonts/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN77F-webfont.woff') format('woff'),
         url('fonts/PTN77F-webfont.ttf') format('truetype'),
         url('fonts/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clearfix {
  clear: both;
}

.main {
  font-family: PTSansRegular, Arial, Helvetica;
  padding: 20px;
}
.site-name {
  width: 100%;
  clear: both;
  float: left;
  text-align: center;
}

.daybook_containers {
  width: 20%;
  min-height: 100px;
  float: left;
  text-align: center;
}

.logo_container {
  min-height: 75px;
  img {
    vertical-align: middle;
  }
}

h1 {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

.add_new {
  float: left;
  padding: 30px 0;
  text-align: center;
  background: url("plus.gif") no-repeat #fff;
  background-position: left;
  margin-left: 43%;
  padding-left: 30px;
  a {
    padding-top: 2px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.example {
  padding: 10px 0;
  text-align: center;
  float: left;
  width: 100%;
  a {
    color: blue;
    text-decoration:none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.errors_details {
  color: red;
  padding-bottom: 10px;
}

$blue: #4D90FE;
$green: #07B845;

.form {
  border-radius: 0 10px 0 10px;
  border: 3px solid $green;
  padding: 10px;
  width: 1000px;
  float: left;
  input{
    border: 1px solid #B1B1B1;
    padding: 5px;
    font-size: 14px;
    font-family: PTMonoRegular, Arial, Helvetica;
  }
  input:focus {
    border: 1px solid $blue;
  }
  input[type=submit] {
    border-radius: 3px;
    border: 2px solid #B1B1B1;
    background-color: $green;
    color: #fff;
    font-weight: bold;
    float: left;
  }
}
.submit_button {
  padding-top: 5px;
  float: left;
}

.name_field {
  padding: 2px 0 10px 0;
}

.logo_field {
  padding: 0 0 10px 0;
}
